{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/icon/favicon.png' %}">

    <title>eSports Equity</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>

    
    <link href="{% static 'css/land.css' %}" rel="stylesheet">
    <link href="{% static 'css/nav.css' %}" rel="stylesheet">
    <link href="{% static 'css/foot.css' %}" rel="stylesheet">
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
      <div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">

          <a class="navbar-brand" href="land.html"><span style="color: #0089ff">E</span>SPORTS <span style="color: #0089ff">E</span>QUITY</a>
        </div>

      </div>

    </nav>

      </div>
    </div>




  <body>

          <div class="container">


          <h2 class="success">You Have Successfully Registered! <br><br>
          Welcome to eSports Equity, you will receive information from us soon!</h2>



    </div> <!-- /container -->

              <footer class="footer">
      <div class="container">
        <p>	&copy; 2016, eSports Equity LLC</p>
				<p>Call Us: <a href="tel:213-863-6888">(213) 863-6888</a></p>
				<a href="https://twitter.com/EsportsEquity" class='socialicon'><img src='{% static 'img/main/twitterlogowhite.png' %}'></a>
      	<a href="https://www.facebook.com/esportsequity/" class='socialicon'><img src='{% static 'img/main/facebooklogowhite.png' %}'></a>
      </div>
    </footer>




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery.min.js' %}"><\/script>')</script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{% static 'js/vendor/holder.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>

{# Redirect to home page after 5 seconds #}
    <script>
  window.setTimeout(function(){
    window.location.href = "{% url 'home' %}";
  }, 5000);
</script>


  </body>


</html>
