body{
    font-family: stheiti;
}

.page-header{
    text-align: center;
}

.container-fluid{
    margin-top: 80px;
    margin-bottom: 100px;
    margin-left: 120px;
    margin-right: 120px;
}

.col-md-4{
    text-align: center;
    margin-top: 90px;
    margin-bottom: 38px;
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #1a2d40;
    color: white;
}

.zero{
    background-color: white;
    color: #1a2d40;
}

.col-md-12{
    text-align: center;
}