{% extends 'layout-new.html' %}
{% load static %}
{% block body %}
    <head>
        <link rel="stylesheet" href="{% static 'css/handbook.css' %}">
    </head>

      <div class="container-fluid">
      <div class="bs-docs-section">
        <div class="row mt-5 mb-5">
          <div class="col-lg-12">
            <div class="page-header text-center mb-5">
              <h1 id="typography">Creation Handbook</h1>
              <h2 class="text-muted">A guide that helps you to create better campaigns</h2>
            </div>
          </div>
        </div>

        <!-- Headings -->

        <div class="row mt-5">
          <div class="col-lg-8 offset-lg-2">
            <div class="bs-component">
              <h3>Why Choose Esports Equity?</h3>
                <p>Our website is a dedicated platform for people in the esports community. Since our focus is singular, we can provide greater depth of service and insight into the field.</p>
                <p>In celebration of our websites launch we will be offering an incentive to new project creators. We will match any funds raised through legitimate means for projects started from ____ to ____</p><br />
              <h3>Get Started In 3 Steps</h3>
                <div class="row">
                    <div class="col-md-4">
                        <img src="{% static 'img/icons/handbook/rocket.png' %}" style="max-width: 150px; margin-left: 30px; margin-right: 30px; margin-top: 60px; margin-bottom: 40px;">
                    </div>
                    <div class="col-md-8">
                        <h4 style="margin-top: 40px;">Create A Project</h4>
                        <p>Use the “Create A Project” Button and fill out the forms as requested. While you are filling out these forms, read these tips on creating a project for your best chance at success. </p>
                        <p>After you finish filling out the information, press the submit button and the project will be submitted to us so we can ensure that no community guidelines are being abused. After we approve the project, it will be listed on the website. </p>
                        <p>If for some reason we don’t accept your project, we will make an effort to contact the email of the account you used to create the project with the specific issue. </p>

                    </div>

                </div>

                <div class="row">

                    <div class="col-md-8">
                        <h4 style="margin-top: 40px;">After Launch</h4>
                        <p>We provide tools for you to track the progress of your campaigns funding status and to keep the discussion alive by way of a comment system. You can use this comment system to discuss any updates and changes to your project. </p>
                        <p>If you made a mistake when you initially submitted your project, simply send us an email at help@esportsequity.com using the email address you started the project with and we will work with you to make any necessary changes. </p>

                    </div>
                     <div class="col-md-4">
                        <img src="{% static 'img/icons/handbook/accomplished.png' %}" style="max-width: 150px; margin-left: 30px; margin-right: 30px; margin-top: 70px; margin-bottom: 40px;">
                    </div>

                </div>

                <div class="row">

                   <div class="col-md-4">
                        <img src="{% static 'img/icons/handbook/funded.png' %}" style="max-width: 150px; margin-left: 30px; margin-right: 30px; margin-top: 70px; margin-bottom: 40px;">
                    </div>

                    <div class="col-md-8">
                        <h4 style="margin-top: 70px;">Receiving Your Funds</h4>
                        <p>Depending on which method of crowdfunding you choose, You will either receive your funds at the end of your campaign or through an interval of every 2 weeks (funds are dispersed as soon as the transaction occurs)</p>

                    </div>


                </div>




              <h3>Reminder</h3>

                <p>“All or Nothing” funding types only receive money if the project meets its funding goal. “Take as You Go” lets you receive money for a project even if you haven’t reached your goal yet. Weigh the pros and cons of each method and choose the version that suits your project best. </p><br>
                <p>Take note that Esports Equity has two fee based structures:</p>
                <p> We charge 5% in addition to the transaction fee of 2.9% + $.30 for all or nothing, and we charge 10% in addition to the transaction fee of 2.9% + $.30.  </p>
            </div>

          </div>
        </div>

          

      </div>


          </div>
        </div>
      </div>
      </div>
{% endblock %}
