{% extends "layout.html" %}
{% load bootstrap3 %}
{% load static %}
{% block title_tag %}eSports Equity: FAQ{% endblock %}
{% block title %}eSports Equity: Frequently Asked Questions{% endblock %}

{% block body %}
  <head>
    <link href="{% static 'css/land.css' %}" rel="stylesheet">
    <link href="{% static 'css/FAQ/faq.css' %}" rel="stylesheet">
  </head>
    <div class="container-fluid">
        <div class="page-header">
            <h2>Frequently Asked Questions</h2>
        </div>
        <div class="question">
        <button type="button" class="btn btn-info1 btn-block" data-toggle="collapse" data-target="#answer1">
            What is eSports Equity?<span class="faqglyphicon glyphicon glyphicon-chevron-down"></span></button>
          <div id="answer1" class="collapse well">
              <p>eSports Equity is a brand new funding portal formed under the JOBS act of 2012.
                  We operate under title 3 of the law known as reg CF,
                  which allows investors from across the entirety of the financial spectrum.
                  This means investors with <span style="color: #0089ff; text-decoration: underline">$10,000</span> in assets have access to the <span style="color: #0089ff; text-decoration: underline">same</span> investment opportunities
                  as investors with <span style="color: #0089ff; text-decoration: underline">$10,000,000</span> in assets.  </p>
          </div>
        </div>

        <div class="question">
        <button type="button" class="btn btn-info1 btn-block" data-toggle="collapse" data-target="#answer2">
            How does it work?<span class="faqglyphicon glyphicon glyphicon-chevron-down"></span></button>
          <div id="answer2" class="collapse well">
              <p>eSports Equity acts as a host for teams and companies in the eSports scene who are
                  looking for money to grow their brand. Investors could range from outside investors
                  looking to enter the eSports market to people who have been passionate fans of the team for years. </p>
          </div>
        </div>

        <div class="question">
        <button type="button" class="btn btn-info2 btn-block" data-toggle="collapse" data-target="#answer3">
            How do I start a team offering?<span class="faqglyphicon glyphicon glyphicon-chevron-down"></span></button>
          <div id="answer3" class="collapse well">
              <p>Just log in or register a new account and click the <span style="color: #0089ff; text-decoration: underline">'start a project'</span> button.
            After you fill in some preliminary information, we will reach out to you to complete the process.
              </p>
          </div>
        </div>

        <div class="question">
            <button type="button" class="btn btn-info2 btn-block" data-toggle="collapse" data-target="#answer4">
            How long does it take to raise money?<span class="faqglyphicon glyphicon glyphicon-chevron-down"></span></button>
          <div id="answer4" class="collapse well">
              <p><span style="color: #0089ff; text-decoration: underline">It depends on your needs.</span> We suggest that if you need to raise a lot of money then leave enough
                  time for enough people to see your offerings over a few months.
                  If you only need a small capital injection, then you can have a shorter campaign of a few weeks.
              </p>
          </div>
        </div>


        <div class="question">
            <button type="button" class="btn btn-info2 btn-block" data-toggle="collapse" data-target="#answer5">
            When do companies receive investments?<span class="faqglyphicon glyphicon glyphicon-chevron-down"></span></button>
          <div id="answer5" class="collapse well">
              <p>The regulations that eSports Equity abide by require that certain investor safety measures be taken.
                  This means that investors have the option to pull money out of your team
              </p>
          </div>
        </div>



        <div class="question">
            <button type="button" class="btn btn-info3 btn-block" data-toggle="collapse" data-target="#answer6">
                What kind of costs can we expect?<span class="faqglyphicon glyphicon glyphicon-chevron-down"></span></button>
          <div id="answer6" class="collapse well">
              <p>We charge<br>
                  - <span style="color: #0089ff; text-decoration: underline">5%</span> of a successfully raised campaign<br>
                  - <span style="color: #0089ff; text-decoration: underline">$1,600</span> to create an escrow account after a successful raise<br>
                    - Any additional costs related to that process taken from the total raised<br>

              </p>
          </div>
        </div>


        <div class="question">
            <button type="button" class="btn btn-info3 btn-block" data-toggle="collapse" data-target="#answer7">
                What kind of fees do investors pay?<span class="faqglyphicon glyphicon glyphicon-chevron-down"></span></button>
          <div id="answer7" class="collapse well">
              <p>We <span style="color: #0089ff; text-decoration: underline">don't</span> charge investors with any fees.
              </p>
          </div>
        </div>




        <div class="question">
            <button type="button" class="btn btn-info3 btn-block" data-toggle="collapse" data-target="#answer8">
                How does the investment process work?<span class="faqglyphicon glyphicon glyphicon-chevron-down"></span></button>
          <div id="answer8" class="collapse well">
              <p>You create an account on our website and access the page of the team/company you want to invest in.
                  You then follow the guidelines provided from that point onward to invest into the team.

              </p>
          </div>
        </div>


        <div class="question">
            <button type="button" class="btn btn-info3 btn-block" data-toggle="collapse" data-target="#answer9">
                Are there minimum and maximum investment limits?<span class="faqglyphicon glyphicon glyphicon-chevron-down"></span>
            </button>
          <div id="answer9" class="collapse well">
              <p>These are based on limitations set by the company raising money. These limits are applied to investors so if for example,
                  a company sets a <span style="color: #0089ff; text-decoration: underline">$50.00</span> limit on the team then someone looking to invest any amount lower than
                  <span style="color: #0089ff; text-decoration: underline">$50.00</span> would be unable to do so.
                  Likewise with a maximum limit of <span style="color: #0089ff; text-decoration: underline">$50.00</span>, anyone looking to invest more than
                  <span style="color: #0089ff; text-decoration: underline">$50.00</span> would be unable to do so.
              </p>
          </div>
        </div>




        <div class="question">
            <button type="button" class="btn btn-info4 btn-block" data-toggle="collapse" data-target="#answer10">
                I'm not in the U.S., can I invest on this platform?<span class="faqglyphicon glyphicon glyphicon-chevron-down"></span>
            </button>
          <div id="answer10" class="collapse well">
              <p>We are operating under the laws and regulations of the United States of America,
                  there may be other countries with laws similar that allow investment but we <span style="color: #0089ff; text-decoration: underline">cannot</span> make any
                  recommendations for any investors outside of the U.S. who might want to utilize our service.
                  If you fall under this category, we strongly suggest you update yourself on the laws in your
                  country to see if you can legally invest.
              </p>
          </div>
        </div>



        <div class="question">
            <button type="button" class="btn btn-info4 btn-block" data-toggle="collapse" data-target="#answer11">
                My team is not in the U.S. can we use this platform?<span class="faqglyphicon glyphicon glyphicon-chevron-down"></span>
            </button>
          <div id="answer11" class="collapse well">
              <p>Unfortunately we are <span style="color: #0089ff; text-decoration: underline">not</span> accepting teams or companies not based in the U.S.

              </p>
          </div>
        </div>




        <div class="question">
            <button type="button" class="btn btn-info4 btn-block" data-toggle="collapse" data-target="#answer12">
                How do investors get their money back?<span class="faqglyphicon glyphicon glyphicon-chevron-down"></span>
            </button>
          <div id="answer12" class="collapse well">
              <p>Traditionally investors get their money back from startups when those startups get acquired or when they have an IPO
                  (when a company gets listed on the stock market).
                  eSports based companies probably won’t be going public anytime soon so the most likely return will come from acquisitions.
              </p>
          </div>
        </div>
    </div>
      <div class="join-now">
        <h2>Still have a question?</h2>
        <h4>Send us an E-mail and we will answer it as soon as possible!</h4>
        <h4>Contact us via: help@esportsequity.com</h4>
      </div>

{% endblock %}