{% extends "layout.html" %}
{% load static %}

{% block body_content %}
    <head>
        <link href="{% static 'css/buttons/button.css' %}" rel="stylesheet">
    </head>
			<div class="landing-header" style="background-image:">
				<div class="container">
					<div class="motto">
						<h1 class="title-uppercase">eSports Equity</h1>
						<h3>A New Type of Equity Crowdfunding</h3>
						<br/>
						<a class="btn" href="{% url 'accounts:signup' %}">Sign Up</a>
					</div>
				</div>
			</div>
			<div class="main">
				<div class="section text-center landing-section">
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
								<h2>What is Equity Crowdfunding?</h2>
								<h5>Professional Gaming teams would sell shares of their company in order to raise capital and you can take part in it</h5>
								<br />
								<a href="{% url 'accounts:signup' %}" class="btn btn-danger btn-fill">Sign Up!</a>
							</div>
						</div>
					</div>
				</div>

				<div class="section section-light-brown landing-section">
					<div class="container">
						<div class="row">
							<div class="col-md-4 column">
								<h4>Support Your Team</h4>
								<p>You can choose to invest in your favorite eSports team! There are many teams to choose from coming from different genres of gaming!</p>
							</div>
							<div class="col-md-4 column">
								<h4>Fund Your Dream</h4>
								<p>The "Equity" in Equity Crowdfunding means that you own part of the team you invest in and maybe you'll get to take home the big bucks</p>
							</div>
							<div class="col-md-4 column">
								<h4>Own The Scene</h4>
								<p>eSports is growing larger at a tremendous pace each year! Be sure to take part in the action before its too late!</p>
							</div>
						</div>
					</div>
				</div>
			</div>
{% endblock %}
