{% extends 'layout-new.html' %}
{% load bootstrap3 %}
{% load static %}

{#{% block title_tag %}Esports Equity: Privacy Policy{% endblock %}#}
{#{% block title %}Esports Equity: Privacy Policy{% endblock %}#}

{% block body %}
  <head>
{#    <link href="{% static 'css/land.css' %}" rel="stylesheet">#}
    <link href="{% static 'css/TOS/tos.css' %}" rel="stylesheet">
  </head>

    <div class="container-fluid">
        <div class="page-header">
            <h2>Privacy Policy</h2>
        </div>


{#        <div class='span2 sidebar'>#}
{#        <h3>Left Sidebar</h3>#}
{#        <ul class="nav nav-tabs nav-stacked">#}
{#          <li><a href='#'>Another Link 1</a></li>#}
{#          <li><a href='#'>Another Link 2</a></li>#}
{#          <li><a href='#'>Another Link 3</a></li>#}
{#        </ul>#}
{#      </div>#}
{#        <div class="hidden-xs col-sm-3">#}
{#            <div class="fading-side-menu" data-spy="affix" data-offset-top="350">#}
{#            </div>#}
{#        </div>#}

        <div class="col-xs-12 col-sm-12">
            <h3 id="Terms">Your privacy is important to us.</h3>
            <p>It is Esports Equity's policy to respect your privacy regarding any information we may collect while
                operating our website. Accordingly, we have developed this privacy policy in order for you to
                understand how we collect, use, communicate, disclose and otherwise make use of personal information.
                We have outlined our privacy policy below.<br><br>
                -In order to create an account on Esports Equity you must be 18 or older, or old enough to sign a contract where you live.
                <br>

                -We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.
                <br>

                -Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.
                <br>

                -We will collect and use personal information solely for fulfilling those purposes specified by us and for other ancillary purposes, unless we obtain the consent of the individual concerned or as required by law.
                <br>

                -Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.
                <br>

                -We will protect personal information by using reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.
                <br>

                -We will make readily available to customers information about our policies and practices relating to the management of personal information.
                <br>

                -We will only retain personal information for as long as necessary for the fulfilment of those purposes.
                <br>
            </p>


            <h3 id="Use-License">When you use our website, we may need to collect certain information that may include:</h3>
            <p>
                -Information that is provided to us, by you, through the completion of any forms. This information would include your name,
                email address, postal address, telephone number, country of residence, and your login details. We ask for this information
                whenever you want to register an account, subscribe to our newsletter, request information, or submit any material through
                our platform.<br>
                -Details regarding any transaction or attempted transaction made through our platform. We utilize strip for our payment
                processing so we will not be storing any of your financial information except for the last 4 digits of your payment method,
                the expiration date, and the country, which will be used for tax or security purposes.
                <br>
                -Information regarding the types of activity you do on Esports Equity. This information could range from areas such as your
                IP address, what device and browser you are accessing the website with, and any actions you take on our site.)
                <br>
                -Any communications that may occur between us. For example, if you send us an email we will store that email for future reference.
                <br>
                -Any information regarding any communication you make on the website. This can be things such as comments, messages to other users, etc.
                <br>
                We collect this information to keep your account secure, to improve our services, and to contact you  if need be.
            </p>

            <h3 id="Disclaimer"></h3>
            <p><span style="font-size: 20px; text-decoration: underline;">We will not sell any of your user data to anyone.</span> The only purpose of the data that we collect is in order
                to provide the best user experience possible for our users.We are committed to conducting our business in
                accordance with these principles in order to ensure that the confidentiality of personal information is
                protected and maintained. Esports Equity may change this privacy policy from time to time at Esports Equity's sole discretion.

                </p>


        </div>


    </div>


{% endblock %}