{% extends 'layout-new.html' %}
{% load static %}

{% block body %}
    <head>
        <link rel="stylesheet" href="{% static 'css/success-redirect.css' %}">
    </head>
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <h2>You have successfully started a project!</h2>
            <h4>We will inspect the information you provided.</h4>
            <h4>You will be notified soon!</h4>
        </div>
        <div class="col-md-7">
            <img class="success-image" src="{% static 'img/icons/redirects/inspect.png' %}">
        </div>
    </div>

    </div>

{% endblock %}