{% extends 'layout-new.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title_tag %}eSports Equity: Terms of Service{% endblock %}
{% block title %}eSports Equity: Terms of Service{% endblock %}

{% block body %}
  <head>
{#    <link href="{% static 'css/land.css' %}" rel="stylesheet">#}
    <link href="{% static 'css/TOS/tos.css' %}" rel="stylesheet">

  </head>

    <div class="container-fluid">
        <div class="page-header">
            <h2>Terms of Service</h2>
        </div>


{#        <div class='span2 sidebar'>#}
{#        <h3>Left Sidebar</h3>#}
{#        <ul class="nav nav-tabs nav-stacked">#}
{#          <li><a href='#'>Another Link 1</a></li>#}
{#          <li><a href='#'>Another Link 2</a></li>#}
{#          <li><a href='#'>Another Link 3</a></li>#}
{#        </ul>#}
{#      </div>#}
        <div class="row">
        <div class="hidden-xs col-sm-3">
            <div class="fading-side-menu" data-spy="affix" data-offset-top="350">
                <h5>Table of Contents</h5><hr class="no-margin">
                <ul class="list-unstyled">
                    <li>
                        <a href="#Terms">
                            <span class="fa fa-angle-double-right text-primary"></span>1. Terms
                        </a>
                    </li>
                    <li>
                        <a href="#Use-License">
                            <span class="fa fa-angle-double-right text-primary"></span>2. Use License
                        </a>
                    </li>
                    <li>
                        <a href="#Disclaimer">
                            <span class="fa fa-angle-double-right text-primary"></span>3. Disclaimer
                        </a>
                    </li>
                    <li>
                        <a href="#Limitations">
                            <span class="fa fa-angle-double-right text-primary"></span>4. Limitations
                        </a>
                    </li>
                    <li>
                        <a href="#Accuracy-of-materials">
                            <span class="fa fa-angle-double-right text-primary"></span>5. Accuracy of materials
                        </a>
                    </li>
                    <li>
                        <a href="#Links">
                            <span class="fa fa-angle-double-right text-primary"></span>6. Links
                        </a>
                    </li>
                    <li>
                        <a href="#Modifications">
                            <span class="fa fa-angle-double-right text-primary"></span>7. Modifications
                        </a>
                    </li>
                    <li>
                        <a href="#Governing-Law">
                            <span class="fa fa-angle-double-right text-primary"></span>8. Governing Law
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-xs-12 col-sm-9">
            <h3 id="Terms">Terms</h3>
            <p>By accessing the website at http://esportsequity.com, you are agreeing to be bound by these terms of service,
                all applicable laws and regulations, and agree that you are responsible for compliance with any applicable
                local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site.
                The materials contained in this website are protected by applicable copyright and trademark law.
            </p>


            <h3 id="Use-License">Use License</h3>
            <p>1. Permission is granted to temporarily download one copy of the materials (information or software) on Esports Equity's website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:<br>
              - modify or copy the materials;<br>
              - use the materials for any commercial purpose, or for any public display (commercial or non-commercial);<br>
              - attempt to decompile or reverse engineer any software contained on Esports Equity's website;<br>
              - remove any copyright or other proprietary notations from the materials; or<br>
              - transfer the materials to another person or "mirror" the materials on any other server.<br>
            2. This license shall automatically terminate if you violate any of these restrictions and may be terminated by Esports Equity at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
            </p>

            <h3 id="Disclaimer">Disclaimer</h3>
            <p>1. The materials on Esports Equity's website are provided on an 'as is' basis. Esports Equity makes no warranties,
                expressed or implied, and hereby disclaims and negates all other warranties including, without limitation,
                implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement
                of intellectual property or other violation of rights.<br>
                2. Further, Esports Equity does not warrant or make any representations concerning the accuracy, likely results,
                or reliability of the use of the materials on its website or otherwise relating to such materials or on any
                sites linked to this site.
                </p>

            <h3 id="Limitations">Limitations</h3>
            <p>In no event shall Esports Equity or its suppliers be liable for any damages
                (including, without limitation, damages for loss of data or profit, or due to
                business interruption) arising out of the use or inability to use the materials
                on Esports Equity's website, even if Esports Equity or a Esports Equity authorized
                representative has been notified orally or in writing of the possibility of such
                damage. Because some jurisdictions do not allow limitations on implied warranties,
                or limitations of liability for consequential or incidental damages, these limitations
                may not apply to you.
            </p>

            <h3 id="Accuracy-of-materials">Accuracy of materials</h3>
            <p>The materials appearing on Esports Equity's website could include technical,
                typographical, or photographic errors. Esports Equity does not warrant that
                any of the materials on its website are accurate, complete or current. Esports Equity may make changes
                to the materials contained on its website at any time without notice. However Esports Equity does not
                make any commitment to update the materials.
            </p>

            <h3 id="Links">Links</h3>
            <p>Esports Equity has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Esports Equity of the site. Use of any such linked website is at the user's own risk.
            </p>


            <h3 id="Modifications">Modifications</h3>
            <p>Esports Equity may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.</p>


            <h3 id="Governing-Law">Governing Law</h3>
            <p>These terms and conditions are governed by and construed in accordance with the laws of CA and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>
        </div>
    </div>
</div>

{#<script>#}
{##}
{##}
{#var app = new Vue({#}
{#  el: '#navbar',#}
{#  data: {#}
{#    search: false#}
{#  },#}
{#  methods: {#}
{#    showSearchBar: function () {#}
{#      this.search = true;#}
{#    },#}
{#    hideSearchBar: function () {#}
{#      this.search = false;#}
{#    }#}
{#  }#}
{#})#}
{##}
{#</script>#}
{% endblock %}


