{% extends 'layout.html' %}
{% load bootstrap3 %}
{% load static %}
{% load static %}

{% block title_tag %}eSports Equity:Employer Information{% endblock %}
{% block title %}Employer Information{% endblock %}

{% block body %}
    <head>
        <link href="{% static 'css/teams/investor_account.css' %}" rel="stylesheet">
        <link href="{% static 'css/teams/entity.css' %}" rel="stylesheet">
        <script type='text/javascript' src='{% static 'js/jquery-ui.js' %}'></script>
        <link rel='stylesheet' type='text/css' href='{% static 'css/jquery-ui/smoothness/jquery-ui.css' %}' />
    </head>
    <div class="container-fluid">
        <div class="page-header">
            <h1>Employer Information</h1>
        </div>

    <div class="form-general">
        {% load widget_tweaks %}
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="form-horizontal">
{#            {% for field in form.visible_fields%}#}
{#              <div class="form-group">#}
{#                  <label for="{{ field.id_for_label }}" class="control-label pull-left">{{ field.label }}</label>#}
{#                        {{ field|add_class:'form-control' }}#}
{#                          <script>#}
{#                            $(function() {#}
{#                                $( "#datepicker" ).datepicker();#}
{#                            });#}
{#                        </script>#}
{#                </div>#}
{#                {% endfor %}#}

{#                <div class="form-group">#}
{#                  <label for="{{ form.duration.id_for_label }}" class="control-label pull-left">Duration</label>#}
{#                        {{ form.duration|add_class:'form-control'}}#}
{#                </div>#}
            {% for field in form.visible_fields%}
                {% if forloop.counter == 1 %}
                    <div class="col-md-6">
                      <div class="form-group">
                          <label for="{{ field.id_for_label }}" class="control-label pull-left">{{ field.label }}</label>
                                {{ field|add_class:'form-control' }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p class="help-text">Your emploer's name, for example, 'BestBuy'.</p>
                    </div>
                {% endif %}
                {% if forloop.counter == 2 %}
                    <div class="col-md-6">
                      <div class="form-group">
                          <label for="{{ field.id_for_label }}" class="control-label pull-left">{{ field.label }}</label>
                                {{ field|add_class:'form-control' }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p class="help-text">Are you associated with a Broker Dealer?</p>
                    </div>
                {% endif %}
                {% if forloop.counter == 3 %}
                    <div class="col-md-6">
                      <div class="form-group">
                          <label for="{{ field.id_for_label }}" class="control-label pull-left">{{ field.label }}</label>
                                {{ field|add_class:'form-control' }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p class="help-text">Enter your employer's address.</p>
                    </div>
                {% endif %}
                {% if forloop.counter == 4 %}
                    <div class="col-md-6">
                      <div class="form-group">
                          <label for="{{ field.id_for_label }}" class="control-label pull-left">{{ field.label }}</label>
                                {{ field|add_class:'form-control' }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p class="help-text">Employer's address line 2 (OPTIONAL).</p>
                    </div>
                {% endif %}
                {% if forloop.counter == 5 %}
                    <div class="col-md-6">
                      <div class="form-group">
                          <label for="{{ field.id_for_label }}" class="control-label pull-left">{{ field.label }}</label>
                                {{ field|add_class:'form-control' }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p class="help-text">Enter your employer's city.</p>
                    </div>
                {% endif %}
                {% if forloop.counter == 6 %}
                    <div class="col-md-6">
                      <div class="form-group">
                          <label for="{{ field.id_for_label }}" class="control-label pull-left">{{ field.label }}</label>
                                {{ field|add_class:'form-control' }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p class="help-text">Enter your employer's state.</p>
                    </div>
                {% endif %}
                {% if forloop.counter == 7 %}
                    <div class="col-md-6">
                      <div class="form-group">
                          <label for="{{ field.id_for_label }}" class="control-label pull-left">{{ field.label }}</label>
                                {{ field|add_class:'form-control' }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p class="help-text">Enter your employer's counter, it should be the United States by default.</p>
                    </div>
                {% endif %}
                {% if forloop.counter == 8 %}
                    <div class="col-md-6">
                      <div class="form-group">
                          <label for="{{ field.id_for_label }}" class="control-label pull-left">{{ field.label }}</label>
                                {{ field|add_class:'form-control' }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p class="help-text">Enter your employer's zip code.</p>
                    </div>
                {% endif %}
        {% endfor %}

              <button type="submit" class="btn btn-lg btn-primary pull-right">Save and Continue<span class="glyphicon glyphicon-chevron-right"></span></button>
              <button type="submit" class="btn btn-lg btn-primary pull-left"><span class="glyphicon glyphicon-chevron-left"></span>Go Back</button>
            </div>
        </form>
    </div>
        </div>
{% endblock %}