{% extends 'layout.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title_tag %}eSports Equity: Terms of Service{% endblock %}
{% block title %}eSports Equity: Terms of Service{% endblock %}

{% block body %}
  <head>
    <link href="{% static 'css/land.css' %}" rel="stylesheet">
    <link href="{% static 'css/TOS/tos.css' %}" rel="stylesheet">
    <link href="{% static 'css/educational.css' %}" rel="stylesheet">

  </head>

    <div class="container-fluid">
        <div class="page-header">
            <h2>Educational Materials</h2>
        </div>


{#        <div class='span2 sidebar'>#}
{#        <h3>Left Sidebar</h3>#}
{#        <ul class="nav nav-tabs nav-stacked">#}
{#          <li><a href='#'>Another Link 1</a></li>#}
{#          <li><a href='#'>Another Link 2</a></li>#}
{#          <li><a href='#'>Another Link 3</a></li>#}
{#        </ul>#}
{#      </div>#}
        <div class="hidden-xs col-sm-3">
            <div class="fading-side-menu" data-spy="affix" data-offset-top="350">
                <h5>Table of Contents</h5><hr class="no-margin">
                <ul class="list-unstyled">
                    <li>
                        <a href="#The-Offering-Process">
                            <span class="fa fa-angle-double-right text-primary"></span>The Offering Process
                        </a>
                    </li>
                    <li>
                        <a href="#On-Securities">
                            <span class="fa fa-angle-double-right text-primary"></span>On Securities
                        </a>
                    </li>
                    <li>
                        <a href="#Resale-Restrictions">
                            <span class="fa fa-angle-double-right text-primary"></span>Resale Restrictions
                        </a>
                    </li>
                    <li>
                        <a href="#Disclosure-Requirements">
                            <span class="fa fa-angle-double-right text-primary"></span>Disclosure Requirements
                        </a>
                    </li>
                    <li>
                        <a href="#Investment-Limits">
                            <span class="fa fa-angle-double-right text-primary"></span>Investment Limits
                        </a>
                    </li>
                    <li>
                        <a href="#Cancellations">
                            <span class="fa fa-angle-double-right text-primary"></span>Cancellations
                        </a>
                    </li>
                    <li>
                        <a href="#Investment-Considerations">
                            <span class="fa fa-angle-double-right text-primary"></span>Investment Considerations
                        </a>
                    </li>
                    <li>
                        <a href="#Possible-Relationship-Between-Issuer-and-Funding-Portal">
                            <span class="fa fa-angle-double-right text-primary"></span>Possible Relationship Between Issuer <br>and Funding Portal
                        </a>
                    </li>
                    <li>
                        <a href="#Financial-Information">
                            <span class="fa fa-angle-double-right text-primary"></span>Financial Information
                        </a>
                    </li>
                    <li>
                        <a href="#Educational-Materials">
                            <span class="fa fa-angle-double-right text-primary"></span>Educational Materials
                        </a>
                    </li>
                    <li>
                        <a href="#Promoters">
                            <span class="fa fa-angle-double-right text-primary"></span>Promoters
                        </a>
                    </li>
                    <li>
                        <a href="#Compensation-Disclosure">
                            <span class="fa fa-angle-double-right text-primary"></span>Compensation Disclosure
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-xs-12 col-sm-9">
            <h3 id="The-Offering-Process">The Offering Process</h3>
            <p>The offer is created whenever the company first contacts us through our website.
                From there, any investor looking at the offering will first make an account,
                receive the educational materials required, and then navigate to the offering
                they are interested in. From there, they will look at the details regarding the
                offering and if they choose, they can invest. They will be redirected to Transact
                API’s page where they will conduct the transaction.<br><br>
                The securities will be kept and recorded with Transact API.<br><br>
                There are several risks associated with purchasing securities, even more so when
                talking about the types of companies that tend to be featured on websites such as
                this one. These are startup companies with high rates of failure so unless you can
                afford to lose your entire investment, then we highly suggest you choose not to.
            </p>
            <h3 id="On-Securities">On Securities</h3>
            <p>The securities we offer are equity and debt based meaning that you either receive
                equity in a company for your investment or you are offering a loan to the company
                which will eventually be payed back with interest.<br><br>
                The risks involved with equity securities include the loss of your entire investment
                and the potential loss of voting power as more investors are brought on later. While
                you didn’t lose any shares, the number of shares increases so your voting power lessens.
            </p>

            <h3 id="Resale-Restrictions">Resale Restrictions</h3>
            <p>Securities bought through Title 3 of the JOBS ACT are very illiquid. There is no secondary
                market for these securities meaning they cannot be listed on any exchange and cannot be
                transferred for one year from the purchase date except for specific instances which include<br><br>
                	Being transferred to an accredited investor<br>
                    Being bought back by the issuing company<br>
                    Being transferred to immediate family<br>
                    Being transferred in the case of the owner's death<br><br>
                But even after one year it is still possible that the securities themselves will be illiquid.
            </p>

            <h3 id="Disclosure-Requirements">Disclosure Requirements</h3>
            <p>
               Issuers provide the following information,<br><br>
                An issuer that has offered and sold securities through our platform must file with the commission
                and post on their website, an annual report along with financial statements of the issuer certified by the
                principal executive officer of the issuer to be true and complete in all material respects.
                These should include a description of the financial issuer as described below:<br>
                A discussion of the issuer’s financial condition, including, to the extent material, liquidity, capital
                resources, and historical results of operations.<br>
                The discussion must cover each period for which financial statements of
                the issuer are provided. An issuer also must include a discussion of any
                material changes or trends known to management in the financial condition
                and results of the operations of the issuer subsequent to the period for
                which financial statements are provided.<br>
                For issuers with no prior operating history, the discussion should focus on
                financial milestones and operational, liquidity and other challenges.
                For issuers with an operating history, the discussion should focus on
                whether historical results and cash flows are representative of what
                investors should expect in the future. Issuers should take into account
                the proceeds of the offering and any other known or pending sources of
                capital. Issuers also should discuss how the proceeds from the offering
                will affect the issuer's liquidity, whether receiving these funds and any
                other additional funds is necessary to the viability of the business, and
                how quickly the issuer anticipates using its available cash. In addition,
                issuers should describe the other available sources of capital to the
                business, such as lines of credit or required contributions by shareholders.<br>
                References to the issuer in this paragraph and its instructions refer to the issuer and its predecessors, if any.<br>
                 If, however, an issuer has available financial statements that have either been reviewed or
                audited by a public accountant that is independent of the issuer, those financial statements
                must be provided and the certification by the principal executive officer will not be required.<br>




                The annual report also must include the following. The report must be filed in accordance with U.S. securities law and no later than 120 days after the end of the fiscal year covered by the report.<br>

                (a) The name, legal status (including its form of organization, jurisdiction in which it is organized and date of organization), physical address and Web site of the issuer;<br>

                (b) The names of the directors and officers (and any persons occupying a similar status or performing a similar function) of the issuer, all positions and offices with the issuer held by such persons, the period of time in which such persons served in the position or office and their business experience during the past three years, including:<br>

                (1) Each person's principal occupation and employment, including whether any officer is employed by another employer; and<br>

                (2) The name and principal business of any corporation or other organization in which such occupation and employment took place.<br>

                Instruction to paragraph (b). For purposes of this paragraph (b), the term officer means a president, vice president, secretary, treasurer or principal financial officer, comptroller or principal accounting officer, and any person routinely performing similar functions.<br>

                (c) The name of each person, as of the most recent practicable date but no earlier than 120 days prior to the date the offering statement or report is filed, who is a beneficial owner of 20 percent or more of the issuer's outstanding voting equity securities, calculated on the basis of voting power;<br>

                (d) A description of the business of the issuer and the anticipated business plan of the issuer;<br>

                (e) The current number of employees of the issuer;<br>

                (f) A discussion of the material factors that make an investment in the issuer speculative or risky;<br>

                (m) A description of the ownership and capital structure of the issuer, including:<br>

                (1) The terms of the securities being offered and each other class of security of the issuer, including the number of securities being offered and/or outstanding, whether or not such securities have voting rights, any limitations on such voting rights, how the terms of the securities being offered may be modified and a summary of the differences between such securities and each other class of security of the issuer, and how the rights of the securities being offered may be materially limited, diluted or qualified by the rights of any other class of security of the issuer;<br>

                (2) A description of how the exercise of rights held by the principal shareholders of the issuer could affect the purchasers of the securities being offered;<br>

                (3) The name and ownership level of each person, as of the most recent practicable date but no earlier than 120 days prior to the date the offering statement or report is filed, who is the beneficial owner of 20 percent or more of the issuer's outstanding voting equity securities, calculated on the basis of voting power;<br>

                (4) How the securities being offered are being valued, and examples of methods for how such securities may be valued by the issuer in the future, including during subsequent corporate actions;<br>

                (5) The risks to purchasers of the securities relating to minority ownership in the issuer and the risks associated with corporate actions including additional issuances of securities, issuer repurchases of securities, a sale of the issuer or of assets of the issuer or transactions with related parties; and<br>

                (6) A description of the restrictions on transfer of the securities, as set forth in §227.501;<br>
                (p) A description of the material terms of any indebtedness of the issuer, including the amount, interest rate, maturity date and any other material terms;<br>

                (q) A description of exempt offerings conducted within the past three years;<br>

                Instruction to paragraph (q). In providing a description of any prior exempt offerings, disclose:<br>

                (1) The date of the offering;<br>

                (2) The offering exemption relied upon;<br>

                (3) The type of securities offered; and<br>

                (4) The amount of securities sold and the use of proceeds;<br>

                (r) A description of any transaction since the beginning of the issuer's last fiscal year, or any currently proposed transaction, to which the issuer was or is to be a party and the amount involved exceeds five percent of the aggregate amount of capital raised by the issuer in reliance on section 4(a)(6) of the Securities Act (15 U.S.C. 77d(a)(6)) during the preceding 12-month period, inclusive of the amount the issuer seeks to raise in the current offering under section 4(a)(6) of the Securities Act, in which any of the following persons had or is to have a direct or indirect material interest:<br>

                (1) Any director or officer of the issuer;<br>

                (2) Any person who is, as of the most recent practicable date but no earlier than 120 days prior to the date the offering statement or report is filed, the beneficial owner of 20 percent or more of the issuer's outstanding voting equity securities, calculated on the basis of voting power;<br>

                (3) If the issuer was incorporated or organized within the past three years, any promoter of the issuer; or<br>

                (4) Any member of the family of any of the foregoing persons, which includes a child, stepchild, grandchild, parent, stepparent, grandparent, spouse or spousal equivalent, sibling, mother-in-law, father-in-law, son-in-law, daughter-in-law, brother-in-law, or sister-in-law, and shall include adoptive relationships. The term spousal equivalent means a cohabitant occupying a relationship generally equivalent to that of a spouse.<br><br>

                Instruction 1 to paragraph (r). For each transaction identified, disclose the name of the specified person and state his or her relationship to the issuer, and the nature and, where practicable, the approximate amount of his or her interest in the transaction. The amount of such interest shall be computed without regard to the amount of the profit or loss involved in the transaction. Where it is not practicable to state the approximate amount of the interest, the approximate amount involved in the transaction shall be disclosed.
                Instruction 2 to paragraph (r). For purposes of paragraph (r), a transaction includes, but is not limited to, any financial transaction, arrangement or relationship (including any indebtedness or guarantee of indebtedness) or any series of similar transactions, arrangements or relationships.
                (s) A discussion of the issuer's financial condition, including, to the extent material, liquidity, capital resources and historical results of operations;<br>

                For each transaction identify<br>

                (x) Whether the issuer or any of its predecessors previously failed to comply with the ongoing reporting requirements of §227.202; and<br>

                An issuer providing financial statements that are not audited or reviewed must have its principal executive officer provide the following certification:<br>
                I, [identify the certifying individual], certify that the financial statements of [identify the issuer] included in this Form are true and complete in all material respects.
                [Signature and title].

                Issuers will comply with ongoing reporting requirements until one of the following occurs:<br>

                The issuer is required to file reports under section 13(a) or section 15(d) of the Exchange Act (15 U.S.C. 78m(a) or 78o(d));<br>

                The issuer has filed, since its most recent sale of securities pursuant to this part, at least one annual report pursuant to this section and has fewer than 300 holders of record;<br>

                The issuer has filed, since its most recent sale of securities pursuant to this part, the annual reports required pursuant to this section for at least the three most recent years and has total assets that do not exceed $10,000,000;<br>

                The issuer repurchases all of the securities issued through equity crowdfunding in reliance on section  4(a)(6) of the Securities Act (15 U.S.C. 77d(a)(6)), including any payment in full of debt securities or any complete redemption of redeemable securities; or<br>

                The issuer liquidates or dissolves its business in accordance with state law. <br>


            </p>

            <h3 id="Investment-Limits">Investment Limits</h3>
            <p>(i) the greater of $2,000 or 5 percent of the annual income or net worth of such investor, as applicable, if either the annual income or the net worth of the investor is less than $100,000; and<br>
                (ii) 10 percent of the annual income or net worth of such investor, as applicable, not to exceed a maximum aggregate amount sold of $100,000, if either the annual income or net worth of the investor is equal to or more than $100,000;
            </p>

            <h3 id="Cancellations">Cancellations</h3>
            <p>
                Our policy for cancellation is that the sale of securities is final except for accidental purchases. There will be a three day refund starting from the moment they receive their confirmation email.<br>

                (1) If there is a material change to the terms of an offering or to the information provided by the issuer,
                the intermediary must give or send to any investor who has made an investment commitment notice of the material
                change and that the investor's investment commitment will be cancelled unless the investor reconfirms his
                or her investment commitment within five business days of receipt of the notice. If the investor fails to
                reconfirm his or her investment within those five business days, the intermediary within five business days thereafter must:<br>
                (i) Give or send the investor a notification disclosing that the commitment was cancelled, the reason for the cancellation and the refund amount that the investor is expected to receive; and<br>
                (ii) Direct the refund of investor funds.<br>
                (2) If material changes to the offering or to the information provided by the issuer regarding the offering occur within five business days of the maximum number of days that an offering is to remain open, the offering must be extended to allow for a period of five business days for the investor to reconfirm his or her investment.<br>

                Issuers will generally not have cancellation rights except for instances where they do not reach their minimum offering raise.

            </p>


            <h3 id="Investment-Considerations">Investment Considerations</h3>
            <p>Before investing on our platform you should strongly consider whether the investments available on this platform are right for you. These investments are speculative and should be considered VERY RISKY.</p>


            <h3 id="Possible-Relationship-Between-Issuer-and-Funding-Portal">Possible Relationship Between Issuer and Funding Portal</h3>
            <p>Following the completion of an offering, eSports Equity may or may not maintain a relationship with the issuing company.</p>


            <h3 id="Financial-Information">Financial Information</h3>
            <p>Financial Information

                The issuer will publish annual financial reports signed by their principal executive officer except in the case where one of these things has happened:<br>

                The issuer has filed, since its most recent sale of securities pursuant to this part, at least one annual report pursuant to this section and has fewer than 300 holders of record;<br>

                The issuer has filed, since its most recent sale of securities pursuant to this part, the annual reports required pursuant to this section for atleast the three most recent years and has total assets that do not exceed 10 million usd;<br>

                The issuer repurchases all securities issued on section 4(a)(6) of the securities act, including any payment in full of debt securities or any complete redemption of redeemable securities; or<br>

                The issuer dissolves its business in accordance with state law. </p>

            <h3 id="Educational Materials">Educational Materials</h3>
            <p>eSports Equity will make the most current version of any educational materials available on its platform at all times and,
                if at any time, we make any revisions then we will halt any additional investments until the revised educational materials are made available to all investors.
            </p>

            <h3 id="Promoters">Promoters</h3>
            <p>Any person that promotes an issuer’s offering for compensation, whether past or prospective, or who is a founder or an employee of an issuer that engages
                in promotional activities on behalf of the issuer, must clearly disclose in all communications that they are engaging in promotional activities on behalf of the issuer in exchange for compensation. </p>

            <h3 id="Compensation-Disclosure">Compensation Disclosure</h3>
            <p>We receive money from successful raises that cover our costs associated with making the offering and a 5% fee for listing the company on our platform, also taken from the total of a successful raise. </p>

        </div>

    </div>


{% endblock %}